<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ostoslista</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        <style>
            .container {
                max-width: 500px;
            }

            .ostos {
                font-weight: bold;
            }





        </style>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">JOstoslista</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#">Kaikki ostoslistat</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Kirjaudu sisään</a></li>
                </ul>
            </div>
        </nav>

        <div class="container">


            <h1>Hieno ostoslista</h1>

            <h2>Lisää ostos</h2>
            <form>
                <div class="form-group">
                    <label for="usr">Nimi:</label>
                    <input type="text" class="form-control" id="item" />
                </div>
                <div class="form-group">
                    <label for="pwd">Tyyppi:</label>
                    <input type="text" class="form-control" id="type" />
                </div>
                <button type="submit" class="btn btn-default">Lisää</button>
            </form>

            <hr />
            <h2>Ostokset</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ostos</th>
                        <th>Tyyppi</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="ostos">Ostos 1</td>
                        <td>HeVi</td>
                        <td><button type="button" class="btn btn-default">Ostettu</button></td>
                    </tr>
                    <tr>
                        <td class="ostos">Ostos 2</td>
                        <td>Maitotuotteet</td>
                        <td><button type="button" class="btn btn-default">Ostettu</button></td>
                    </tr>
                    <tr>
                        <td class="ostos">Ostos 3</td>
                        <td>Pakaste</td>
                        <td><button type="button" class="btn btn-default">Ostettu</button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>
