<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ostoslista</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        <style>
            .container {
                max-width: 500px;
            }

            .ostos {
                font-weight: bold;
            }
        </style>
        
    </head>
    <body>
        <!-- Navigaatio alkaa -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">JOstoslista</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/myshoppinglists">Kaikki ostoslistat</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><form method="post" action="#" th:action="@{/logout}"><input type="submit" name="logout" value="Logout"/></form></li>
                </ul>
            </div>
        </nav>
        <!-- Navigaatio loppuu -->

        <div class="container">

            <!-- Ostoslistan tiedot -->
            <h1><span th:text="${shoppinglist.name}">Ostoslistan nimi</span></h1>
            <p>
                Luotu <span th:text="${#dates.format(shoppinglist.createdAt, 'yyyy-MM-dd')}">00.00.0000</span>
            </p>

            <div th:if="${shoppers != null}">
                <h3>Omistajat</h3>
                <p th:each="shopper : ${shoppers}">
                    <span th:text="${shopper.name}">Nimi</span>
                </p>
            </div>
            
            <!-- Lisää ostos -lomake -->
            <h2>Lisää ostos</h2>

            <form th:action="@{/shoppinglist/{id}(id=${shoppinglist.id})}" th:object="${item}" method="POST">
                <div class="form-group">
                    <label for="name">Nimi:</label>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                        Nimi ei voi olla tyhjä
                    </div>
                    <input type="text" class="form-control" name="name" />
                </div>
                <div class="form-group">
                    <label for="type">Tyyppi:</label>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">
                        Nimi ei voi olla tyhjä
                    </div>
                    <input type="text" class="form-control" name="type" />
                </div>
                <input type="submit" class="btn btn-default" value="Lisää listalle"></input>
            </form>

            <hr />
            
            <!-- Taulukko ostoslistalla olevista ostoksista -->
            
            <h2>Ostokset</h2>
            <table class="table table-striped" th:if="${items != null}">
                <thead>
                    <tr>
                        <th>Ostos</th>
                        <th>Tyyppi</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${items}">
                        <td class="ostos"><span th:text="${item.name}">Nimi</span></td>
                        <td><span th:text="${item.type}">Tyyppi</span></td>
                        <td><form th:action="@{/shoppinglist/{id}/item/{itemid}(id=${shoppinglist.id}, itemid=${item.id})}" th:method="DELETE"><input type="submit" class="btn btn-default" value="Ostettu!"></input></form></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>
